.comment-form{
	margin-top: $padding-medio;

	.comment-image{
		margin:0;

	}
	.img-profile{
		width: 25px !important;
		height: 25px !important;
		border-radius:50%;
		padding:0;
		margin-left: 5px;
	}
}
.comments-panel-children{
	font-size: 1em !important;

	.comments-item:first-child{
		padding-top: 15px !important;
	}
}
.comments-panel{
	
	font-size: 0.9em;
	

	.comments-item{
		width: 100%;
		display: inline-block;
		margin:0;
		padding:0;
		padding-top: 5px !important;
		margin-bottom: 0 !important;
		/*margin-bottom: $padding-peque;*/
		
		.comment-item-image{
			margin:5px 0;
			padding:0;

			.img-profile{
				width: 25px !important;
				height: 25px !important;
				border-radius:50%;
			}
		}
		.comment-item-text{
			background: $background-light;
			border-radius:8px;
			line-height: 1.3em;
			padding-top: $padding-peque;
			padding-bottom: $padding-peque;
			
			a{
				display: inline;
				color: $color;
				font-weight: 600;
				
			}
			h5{
				display: inline;
				margin-left: $padding-peque/2;
				font-weight: 400;
				font-size: 1em;

			}
		}
		
		.comment-item-new{
			display: none;
		}
		.comment-item-buttons{

			a{
				font-size: 0.9em;
				color: $color-dark;

				&:hover{
					text-decoration: underline;
				}
			}
			span.publish{
				font-size: 0.9em;
			}
		}
	}
}